      p {
          color: white;
      }
      body {
          background-color: grey;
          background-image: url("images/bgd.jpg");
      }
      .class_test {
          color:blue;
          font-size:22px;
          font-family: Arial;
      }
      ul {
          color: white;
      }
      img {
          background-position: center;
          width: 5%;
          height: 5%;
      }
      .divi {
          background-color:hsl(200, 20%, 35%);
          width: 380px;
          background-position: center;
          border: 5px solid Black;
          margin: auto;
          text-align: center;
          font-weight: bold;
          font-size:22px;
      }
      .divi2 {
          padding: 93px;
          font-size:24px;
          width: 1300px;
          height: 1950px;
          text-align: justify;
          line-height: 120%;
      }
      #subtitle {
          background-color:hsl(200, 20%, 35%);
          width: 430px;
          text-align: center;
          height: 80px;
          border: 5px solid Black;
          font-weight: bold;
      }
      #subtitle2 {
          background-color:hsl(200, 20%, 35%);
          width: 480px;
          text-align: center;
          height: 90px;
          border: 2px solid Black;
          font-weight: bold;
      }
